/*
Template : IK1 Wik Wik
This is css for website ik1 wik wik
*/

/* Global */
.wrap { position: relative; max-width: 800px; margin:0 auto; }


/* Header */

.menu { background-color: #a9cd2e; }
.menu nav { background-color: #a9cd2e; }